@import url("./__slider-counter/offer__slider-counter.css");
@import url("./__slider-wrapper/offer__slider-wrapper.css");
@import url("./__indicators/offer__indicators.css");

.offer__slider {
  position: relative;
  width: 650px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.offer__slider #current {
  font-size: 48px;
  font-weight: 700;
  color: #000;
}
