@import url("./__button/modal__button.css");
@import url("./__close/modal__close.css");
@import url("./__input/modal__input.css");
@import url("./__title/modal__title.css");

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
