@import url("./__slider-next/offer__slider-next.css");
@import url("./__slider-prev/offer__slider-prev.css");

.offer__slider-counter {
  display: flex;
  width: 180px;
  align-items: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}
